*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    
}

body{
    background-color: #fdfdfd;
  
}
.nav{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px 0 30px;
    border-bottom: 0.6px solid #d7d7df;
    position: fixed;
    backdrop-filter: blur(10px);
}
.nav h3 a{
    text-decoration: none;
    color: black;
}
.nav2{
    display: flex;
    gap: 25px;
}
.nav2 h4 a{
    text-decoration: none;
    color: black;
   

}
.nav2 h4:hover{
    border-bottom: 2px solid black;
    margin-bottom: 22px;
    /* transform: scale(0.9); */
    transition: 0.1s ease-in ;
 
}
.nav2 h4 a:active{
    transition: 5s ease;
}

.nav h3{
    font-weight: 600;
    font-size: 30px;
    box-sizing: border-box;
}
.nav2 h4{
    font-weight: 500;
}
#header{
    width: 100%;
    height: 900px;
    display: flex;
    padding: 0px 30px 0 30px;
}
.left{
    width: 50%;
    height: auto;
    padding: 420px 0 0 0 ;
}
.right{
    width: 50%;
    height: auto;
    padding: 250px 0 0 100px;
}
.right .photos{
    width: 450px;
    height: 450px;
    border-radius: 50%;
  background-image: url(./images/seo-logo-webp.webp);
  background-size: cover;
  background-position: center;
  border: 5px solid #d7d7df;

}
/* .right img{
    width: 200px;
} */


.right .rightlink{
    width: 45px;
    height: 300px;
    background-color: #fcfafa;
    position: absolute;
    top: 210px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(72, 69, 129, 0.849);
 
}
.rightlink a img{
    width: 40px;
}
.rightlink a img:active, .rightlink a img:hover {
    transform: scale(0.9);
    transition: 0.6s ease-in-out;

}
.left h1{
    font-size: 90px;
    font-weight: 600;
    line-height: 90px;
  
}
.left h2{
    font-weight: 600;
    font-size: 30px;
}
.left p{
    font-weight: 400;
    color: rgb(107, 105, 105);
    width: 75%;
   
}
#projectsection{
    width: 100%;
    height: 900px;
    background-color: #F4F4F5;
    /* padding: 90px; */
    
}
#projectsection h2{
    text-align: center;
    font-size: 60px;
    font-weight: 700;

}
#projectsection p{
    text-align: center;
    font-weight: 350;
    color: rgb(107, 105, 105);

}
/* button{
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 11px;    
    width: 130px;
    height: 40px;
} */
.projects{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 70px;
}
 
 .projects img{
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 11px;
    border: 1.5px solid #d7d7df;
   
 }
.project1, .project2, .project3, .project4, .project5{
    width: 300px;
    height: 200px;
}
.procontent, .procontent2, .procontent3, .procontent4, .procontent5{
    width: 300px;
    height: 220px;
    position: relative;
    bottom: 220px;
   border-radius: 11px;
   opacity: 0;
   backdrop-filter: blur(3px);
    
   
}
.procontent:hover, .procontent2:hover, .procontent3:hover, .procontent4:hover, .procontent5:hover{
    opacity: 1;
    transition: 0.2s ease-in;
    /* transform: scale(1.2); */
}
h6{
    position: relative;
    top: 80px;
    left: 40px;
    font-weight: 500;
    font-size: 20px;
    color: #050505d7;
    width: 200px;
}
button{
    position: relative;
    top: 95px;
    left: 80px;
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 11px;    
    width: 130px;
    height: 40px;
    cursor: pointer;
}
button a{
    text-decoration: none;
    color: #FFFFFF;
}
#skills{
    width: 100%;
    height: 500px;
    background-color: #FFFFFF;
}
#skills p{
    text-align: center;
    font-weight: 350;
    color: rgb(107, 105, 105);
}
#skills h2{
    text-align: center;
    font-weight: 650;
    font-size: 50px;
    padding-top: 60px;
}
.skills2 img{
    width: 100px;
}
.skills2{
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#contact{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}
#contact h2{
    font-size: 50px;
    font-weight: 700;
   
}
#contact p{
  
    font-weight: 350;
    color: rgb(107, 105, 105);
}
.container{
    width: 40%;
    max-width: 30%;

  
}
.container input[name='first_name'],input[name='tel'], input[name='email']{
    width: 100%;
    height: 40px;
    padding: 3px 4px;
    border-radius: 6px;
    border: 1px solid #d7d7df;
    margin-top: 20px;
}
.container input[name='text']{
    width: 100%;
    height: 250px;
    border-radius: 6px;
    border: 1px solid #d7d7df;
    margin-top: 20px;
}
.inputbtn{
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 11px;    
    width: 130px;
    height: 40px;
    cursor: pointer;
    position: relative;
    /* bottom: 30px;
    right: 300px; */
    top: 0;
    left: 0;
    margin-top:20px ;
}
.footer{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-top: 0.6px solid #d7d7df;
    
}
.sociallink a i {
    font-size:  30px;
    color: rgb(59, 55, 55);

 
    
  
}









@media (max-width:1029px) {
    #projectsection{
        height: 2000px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .right{
        padding: 350px 0 0 100px ;
    }
    .right .photos {
        width: 300px;
        height: 300px;
        
    }
    @media (max-width:817px) {
        #header{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
        .right{
            padding: 20px 100px 0 170px;
            width: 100%;
        }
        .left{
            padding: 0 ;
            width: 100%;
        }
        .right .photos{
            width: 250px;
            height: 250px;
        }
        .footer .sociallink a i{
            font-size: 19px;
        }
    }
    @media (max-width:470px) {
        .right{
            padding: 0;
            width: 100%;
        }
        
    }
}
    @media (max-width:400px) {
        .left h1{
        font-size: 60px;
        
        
    }
   
    .left h2{
        font-size: 20px;
    }
        .left p{
            width: 100%;
        }
        .right .photos{
            width: 200px;
            height: 200px;
        }
        
        #header{
            padding: 0px 0px 0px 0px;
        }
        .nav h3{
            font-size: 16px;

        }
        .nav2 h4{
            font-size: 10px;
        }
        .nav2{
            gap: 10px;
        }
        @media (max-width:326px) {

            .projects{
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;

            }
            .projects img{
                width: 200px;
            }
            .procontent, .procontent2, .procontent3, .procontent4, .procontent5{
                width: 200px;
            }
            .project1, .project2, .project3, .project4, .project5{
                width: 200px;
            }
        }
    }
